<%- include("partials/second-header") -%>
    <title>Daily Journal | About-us</title>
</head>
<body class="carry">
   
    
        <%- include("partials/headers") -%>
        <div class="body">
        <p class="title">
            <%=titletype %>
        </p>
        <p>
            <%= firstabout %>
        </p>
        </div>
      
        <%- include("partials/footers") -%>
     
