    <%- include("partials/second-header") -%>
    <title>Daily Journal | contact-us</title>
</head>
<body class="carry">
    <div>
       
            <%- include("partials/headers") -%>
            <div class="body">
            <p class="title">
                <%=titletype %>
            </p>
            <p>
                <%= firstcontact %>
            </p>
            </div>
           
            <%- include("partials/footers") -%>
            