<%- include("partials/second-header") -%>
    <title>Daily Journal | Home</title>
</head>
<body class="carry">
    <%- include("partials/headers") -%>
    <div class="body">
    <p class="title">
        <%= titletype%>
    </p>
    <p>
   <%= firsthome %>
    </p>
    
    </div>
    <div class="body">
            <% glo.forEach( function(element){ %>
             <p class="title">    <%= element.title %> </p>
             <p>  <%= element.content.substring(0, 100) + "..." %> <a href="/posts/<%= element._id %>" style="  color:#050a52;
                text-decoration: none;
                text-transform: none;">Read More</a> </p>
           <% } ) %>
        </div>
        <form action="/compose" style="text-align: right; margin-right: 4%;"> 
            <button class="btn btn-lg" style="color: white; background-color: #050a52; text-align: right; margin-right: 4%;">Compose</button>
        </form>

    <%- include("partials/footers") -%>


   


