<%- include("partials/second-header") -%>
    <title>Daily Journal | Home</title>
</head>
<body class="carry">
    <%- include("partials/headers") -%>
    <div class="body">
             <text class="title">    <%= paper %> </text>
             </div>
             <div class="body">
             <text>  <%= cement %> </text>
        </div>

    <%- include("partials/footers") -%>

