<%- include("partials/second-header") -%>
    <title>Daily Journal | Home</title>
</head>
<body class="carry">
    <%- include("partials/headers") -%>
    <div class="body">
             <text class="title">    <%= paper %> </text>
             </div>
             <div class="body">
             <text>  <%= cement %> </text>
        </div>
        <form action="/delete" method="POST" style="text-align: end; margin-right: 5%;">
            <button type="submit" class="btn btn-lg btn-dark" name="deletion" value= "<%= identify %>" > Delete</button>
        
        </form>

    <%- include("partials/footers") -%>

